build/
*.iml
gradlew
.gradle
local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
!.idea/codeStyles/codeStyleConfig.xml
!.idea/codeStyles/Project.xml
!.idea/fileTemplates/includes/File Header.xml